---
import { Contador } from './Contador'
import { StartPomodoro } from './StartPomodoro'
import { StopPomodoro } from './StopPomodoro'
---

<div>
  <header>
    <h1>Pomodoro Tracker</h1>
  </header>
  <div>
    <Contador />
  </div>
  <div>
    <StartPomodoro />
    <StopPomodoro />
  </div>
</div>
